<%= render('shared/header') %>

<div class="allListingsContainer">
  <div class="large-9 columns">
    <% @listing.each do |listing| %>
      <div class="listingItemContainer">
        <div class="row">
          <div class="large-4 columns">
            <div class="listingImageContainer">
              <img src="http://www.calgaryhottubservice.com/images/new/serv3.jpg">
            </div>
          </div>

          <div class="large-8 columns no-padding">
            <div class="listingTitleContainer">
              <div class="row">
                <div class="large-8 columns">
                  <span><%= link_to listing.title, listing_path(listing) %></span>
                </div>

                <div class="large-4 columns text-right">
                  <span><%= number_to_currency(listing.price) %></span>
                </div>
              </div>
            </div>

            <div class="listingItemDescContainer">
              <%= listing.inspect %>
            </div>
          </div>
        </div>



          <div class="row listingUserContainer">
              <div class="large-3 columns"><span>USER CONTAINER</span></div>
              <div class="large-9 columns"><span>USER CONTAINER</span></div>
          </div>
      </div>
    <% end %>
  </div>
</div>
